body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    margin: 20px;
}

#pokemon-list {
    list-style-type: none;
    padding: 0;
}

#pokemon-list li {
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#pokemon-list label {
    background: white;
    width: 100%;
    display: flex;
    padding: 10px;
    border: 2px solid #333;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
    cursor: pointer;
}

#pokemon-list img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#pokemon-list-perfect {
    list-style-type: none;
    padding: 0;
}

#pokemon-list-perfect li {
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#pokemon-list-perfect label {
    background: white;
    width: 100%;
    display: flex;
    padding: 10px;
    border: 2px solid #333;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
    cursor: pointer;
}

#pokemon-list-perfect img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#pokemon-list-shadow {
    list-style-type: none;
    padding: 0;
}

#pokemon-list-shadow li {
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#pokemon-list-shadow label {
    background: white;
    width: 100%;
    display: flex;
    padding: 10px;
    border: 2px solid #333;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
    cursor: pointer;
}

#pokemon-list-shadow img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#pokemon-list-shiny {
    list-style-type: none;
    padding: 0;
}

#pokemon-list-shiny li {
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#pokemon-list-shiny label {
    background: white;
    width: 100%;
    display: flex;
    padding: 10px;
    border: 2px solid #333;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
    cursor: pointer;
}

#pokemon-list-shiny img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#pokemon-list-lucky {
    list-style-type: none;
    padding: 0;
}

#pokemon-list-lucky li {
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#pokemon-list-lucky label {
    background: white;
    width: 100%;
    display: flex;
    padding: 10px;
    border: 2px solid #333;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
    cursor: pointer;
}

#pokemon-list-lucky img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#pokemon-list-dynamax {
    list-style-type: none;
    padding: 0;
}

#pokemon-list-dynamax li {
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#pokemon-list-dynamax label {
    background: white;
    width: 100%;
    display: flex;
    padding: 10px;
    border: 2px solid #333;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
    cursor: pointer;
}

#pokemon-list-dynamax img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#title1 {
    font-size: 70px;
    text-align: center;
}

#title2 {
    font-size: 30px;
    text-align: center;
}

#title3 {
    font-size: 50px;
    text-align: center;
}

#title4 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    cursor: pointer;
    border-bottom: 5px solid antiquewhite;
}

#title4:hover {
    border-bottom: 5px solid #333;
}

input[type=checkbox] {
    line-height: normal;
    width: 50px;
    height: 50px;
    float: left;
    cursor: pointer;
}

#big-pokemoncount-container {
    display: flex;
    justify-content: space-around;
}